.shake-x {
    animation: shake-x .4s ease;
}

@keyframes shake-x {

    0%,
    100% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(-5px);
    }

    66% {
        transform: translateX(5px);
    }
}

.shake-y {
    animation: shake-y .4s ease;
}

@keyframes shake-y {

    0%,
    100% {
        transform: translateY(0);
    }

    33% {
        transform: translateY(-3px);
    }

    66% {
        transform: translateY(3px);
    }
}

.flip {
    backface-visibility: visible !important;
    animation: flip 1s ease-in;
}

@keyframes flip {
    0% {
        transform: perspective(400px) rotateY(0);
        animation-timing-function: ease-out;
    }

    40% {
        transform: perspective(400px) translateZ(150px) rotateY(170deg);
        animation-timing-function: ease-out;
    }

    50% {
        transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
        animation-timing-function: ease-in;
    }

    80% {
        transform: perspective(400px) rotateY(360deg) scale(.95);
        animation-timing-function: ease-in;
    }

    100% {
        transform: perspective(400px) scale(1);
        animation-timing-function: ease-in;
    }
}